@import "variables";

._container {
  max-width: var(--maxWidthContainer);
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 904px;
  }
  @media (max-width: $md2) {
    max-width: 704px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 16px;
  }
}

.body_hidden {
  overflow: hidden;
  max-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--Purple100);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 15px var(--Purple500);
}

body {
  width: 100vw;
  overflow-x: hidden;
  //background: linear-gradient(116.59deg, #5E4474 0.89%, #5C05A6 50.45%, #C4A6DE 100%);
  background: linear-gradient(185.59deg, #5E4474 -5.11%, #5C05A6 85.45%, #C4A6F7 145%);
  position: relative;
  transition: all 200ms;

  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 64px;
    width: calc(100% - 128px);
    height: 100%;
    background: url("../assets/image/chase.webp") no-repeat center/contain;
  }

  &.pre_start {
    filter: blur(40px);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--Purple500);
  background: var(--Purple100);
  border-radius: 12px;
  cursor: pointer;
  transition: all 150ms;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat';

  &:hover,
  &:focus-visible,
  &:active {
    background: initial;
    color: #fff;
    border: 1px solid #fff;
  }
  &.active{
    pointer-events: none;
    color: #fff;
    border: 1px solid #fff;
    background: #2f772f;
  }
  &.disabled{
    pointer-events: none;
    opacity: 0.4;
  }
}