@import "src/styles/variables";

.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  display: flex;
  text-align: center;
  color: var(--yellow);
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  @include adaptiv-value('font-size', 16, 12);
  @include adaptiv-value('line-height', 16, 12);
  color: rgba(255, 255, 255, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(var(--app-height) - 80px);

  &.start,
  &.pre_start {
    justify-content: center;

    .title {
      @include adaptiv-value('font-size', 260, 80);
      @include adaptiv-value('line-height', 260, 80);
    }

    .subtitle {
      @include adaptiv-value('font-size', 64, 18);
      @include adaptiv-value('line-height', 64, 18);
      color: #FFFFFF;
    }
  }

  &.step1 {
    justify-content: space-between;

    .title {
      @include adaptiv-value('font-size', 160, 70);
      @include adaptiv-value('line-height', 160, 70);
      letter-spacing: 0.016em;
    }

    .player {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      color: #FFFFFF;
      @include adaptiv-value('font-size', 96, 32);
      @include adaptiv-value('line-height', 96, 32);
    }

    .timer {
      background: rgba(241, 185, 33, 0.8);
      border-radius: 100px;
      border: 5px solid var(--yellow);
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      display: flex;
      align-items: center;
      text-align: center;
      @include adaptiv-value('font-size', 230, 100);
      @include adaptiv-value('line-height', 280, 100);
      text-shadow: 10px 10px 15px var(--yellow);
      color: #FFFFFF;
      padding: 40px 60px;
    }

    @media(max-width: 767px) {
      .timer {
        border: 2px solid var(--yellow);
        text-shadow: 5px 5px 15px var(--yellow);
        padding: 20px 30px;
      }
    }
  }

  &.step2 {
    justify-content: space-between;

    .title {
      @include adaptiv-value('font-size', 100, 70);
      @include adaptiv-value('line-height', 100, 70);
      letter-spacing: 0.016em;
    }

    .road {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      & > * {
        background: rgba(241, 185, 33, 0.8);
        display: flex;
        justify-content: center;
        color: white;
        @include adaptiv-value('font-size', 40, 20);
        @include adaptiv-value('line-height', 40, 20);
        @include adaptiv-value('padding', 10, 5);
        @include adaptiv-value('border-bottom-right-radius', 35, 10);
        @include adaptiv-value('border-bottom-left-radius', 35, 10);

        &:not(:last-child) {
          border-bottom: 2px solid var(--Purple500);
        }

        &:first-child {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            width: 100% - $i*5%;
          }
        }

        &.red {
          background: rgba(175, 1, 1, 0.8);
        }

        &.isPlayer {
          background: #300169;
        }

      }
    }
  }

  &.result {
    justify-content: space-between;

    .title {
      @include adaptiv-value('font-size', 160, 70);
      @include adaptiv-value('line-height', 160, 70);
      letter-spacing: 0.016em;
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 90%;
      max-width: 100%;
    }

    .card {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      @include adaptiv-value('font-size', 32, 12);
      @include adaptiv-value('line-height', 32, 12);

      border-radius: 100px;
      padding: 16px 24px;

      color: var(--Purple500);
      background: rgba(255, 255, 255, 0.6);
      border: 2px solid rgba(255, 255, 255, 1);

      &:nth-child(1) {
        color: #fff;
        background: rgba(255, 215, 0, 0.8);
        border: 2px solid rgba(255, 215, 0, 1);
      }

      &:nth-child(2) {
        color: #fff;
        background: rgba(192, 192, 192, 0.8);
        border: 2px solid rgba(192, 192, 192, 1);
      }

      &:nth-child(3) {
        color: #fff;
        background: rgba(205, 127, 50, 0.8);
        border: 2px solid rgba(205, 127, 50, 1);
      }

    }

    .name {

    }

    .price {
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 16, 4);

      img {
        @include adaptiv-value('width', 32, 12);
        @include adaptiv-value('height', 32, 12);
      }
    }

  }
}



